body {
    height: 100vh;
    margin: 0;
    background-color: #151414 !important;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #151414 !important;
}

.navbar-brand img {
    height: 50px;
}

.search-input {
    border: 1px solid #B5ADAD;
    border-radius: 5px;
    padding: 5px 10px;
}

.search-btn {
    border: 1px solid #B5ADAD;
    background: none;
    color: #B5ADAD;
}

.search-btn:hover {
    background-color: #F8F8F8;
    color: #333;
}

.input-group-text {
    background-color: white; 
    border: 1px solid #B5ADAD;
    color: #333; 
}

.input-group-text:hover {
    background-color: #F8F8F8;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table_head {
    background-color: #F1F1F1;
}

.table_body {
    background-color: #DB202C;
}

.form-check-input:checked {
    background-color: #000 !important;
    border-color: #000 !important;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.filters-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
}

.input-group-text {
    background-color: #e50914;
    color: white;
    border: none;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.9);
}

#likes-order.active {
    background-color: #e50914;
    color: white;
}

.input-group .form-control:focus {
    border-color: #e50914;
    box-shadow: 0 0 0 0.2rem rgba(229, 9, 20, 0.25);
}