body {
    background-color: #151414 !important;
    color: white !important;
    font-family: Arial, sans-serif;
}

.btn-login {
    background-color: #151414 !important;
    border: 1px solid #B5ADAD !important;
    color: #fff !important;
    padding: 10px 20px !important;
    font-size: 18px !important;
    border-radius: 5px !important;
    transition: all 0.3s ease-in-out !important;
    cursor: pointer !important;
}

.btn-login:hover {
    background-color: #DB202C !important;
    border-color: #fff !important;
}

.btn-login:active {
    background-color: #555 !important;
    transform: scale(0.98) !important;
}

.link-crear-cuenta {
    display: block !important;
    text-align: center !important;
    margin-top: 15px !important;
    color: #B5ADAD !important;
    font-size: 18px !important;
    text-decoration: none !important;
    transition: color 0.3s ease-in-out !important;
}

.link-crear-cuenta:hover {
    color: #fff !important;
    text-decoration: underline !important;
}

.error {
    color: red !important;
    margin-top: 5px !important;
    font-size: 14px !important;
    text-align: center !important;
}
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }
    .login-logo {
        margin-bottom: 20px;
    }
}